<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         bootstrap="vendor/autoload.php"
         verbose="true"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
        </whitelist>
    </filter>
    <php>
        <env name="IUGU_TOKEN" value="c13aa1837625e04502d482477a72d2fb"/>
        <env name="IUGU_URL" value="https://api.iugu.com/v1"/>
        <env name="IUGU_ID" value="C3EB3C4E2E36478F817CC8DFB0AE9C20"/>
        <env name="IUGU_CONNECTION" value="sqlite"/>
        <!--<server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>-->
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value=":memory:"/>
        <!--<server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>-->
    </php>
</phpunit>
